* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

body {
    background-color: antiquewhite;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-style: oblique;
    margin-top: 3%;
}

h1, nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav ul {
    margin: 10px;
}

nav ul li {
    list-style: none;
}

nav ul li button {
    padding: 3px;
    font-size: 1.5em;
    font-weight: bold;
    color: brown;
    background-color: gold;
    margin: 0px 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 3px;
}

nav ul li button:hover {
    cursor: pointer;
    background-color: rgb(202, 146, 3);
}

img {
    width: 35%;
    height: 70%;
    border: 3px solid rgb(146, 95, 27);
    border-radius: 8px;
}

/* individual list items*/
.items {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 20vh;
    background-color: rgba(22, 175, 160, 0.7);
    border: 1px solid rgb(97, 104, 0);
    border-radius: 10px;
}

.items p {
    margin: 10px
}

.items .order-btn {
    background-color: rgba(7, 228, 228, 0.5);
    padding: 2px;
    border: 1px rgb(152, 235, 135) thick;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold
}

.items .order-btn:hover {
    cursor: pointer;
    background-color: darkgoldenrod;
    color: black;
}

.items:hover {
    border: 1px solid brown;
}

.items:hover .price {
    color: brown;
    font-size: larger;
}

/*container for the menu items*/
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: auto;
    max-width: 1800px;
}

.sub-heading {
    /* border-bottom: 1px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: large;
    font-weight: bold;
}


.sub-heading .name {
    width: 100%;
    margin: 10px
}

.sub-heading .order-btn {
    justify-self: normal;

}


/*media query for small screens*/

@media (max-width: 800px) {
    .items {
        width: 90%;
        margin: 5px auto;
    }

    nav ul li button {
        font-size: 1em;
    }

    .items {
        height: fit-content;
    }
}
